
{% extends 'base.html' %}

{% block body %}

    <center style="max-width: 800px">
        <table class="table table-striped" style="width: 100%; max-width: 800px;">
        <thead>
        <tr>
            <th></th>
            <th>Melon Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
            <th>Update Quantity</th>
        </tr>
        </thead>
        <tbody>
            {#Iterate through each item in users_cart?#}
        {% for melon in users_cart %}
        <tr>
            {# Use dot notation to look up that melon class#}
            <td> 
                <img src="{{ melon.image_url }}" class="img-responsive" width="100">
            </td>
            <td>{{ melon.common_name }}</td>
            <td>{{ melon.quantity }}</td>
            <td>${{ "%0.2f" | format(melon.price) }}</td>
            <td>${{ "%0.2f" | format(melon_total_cost) }}</td>
            <td style="-webkit-column-width: 60px">
                <input type="number" name=""><input type="submit" value="Update" style="font-size: 0.6em; width: 50px;">
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3 style="text-align: right">Total: ${{ "%0.2f" | format(order_total) }}</h3>

    {# test print
    <h3>{{ users_cart}}</h3> 
    #}
<p style="text-align: right;">
    <a href="/melons" class="btn btn-large btn-primary">Add More Melons</a>   
    <a href="/checkout" class="btn btn-large btn-primary">Check Out</a>
</p>
{% endblock %}
